


#puzzle{
    inline-size: 450px;
    block-size: 450px;
}

#puzzle input{
    inline-size: 50px;
    box-sizing: border-box;
    border-spacing: 0;

    border: 1px solid red;
    block-size: 50px;
}